head
  include ./includes.pug

  style
    include email.css
body(style='background-color: #2E303E')
  header
    h1.logo
      span discord
      span.text-tertiary .
      span.text-secondary app
    h2 Hello #{user.username}!
    p.lead Thank you for choosing discord app!

  section.body
    div.summary A password reset was requested.
    
    h2.action Here is your new password...
    p.lead You can change this at any time, in your user settings.
    pre
      code(style='background-color: #232530') #{code}
   
    div.trivia
      p This request expires in #{expiresIn / 60 / 1000} minutes. 

  footer
    hr
    span discord.app