.servers-list {
    margin-top: 90px;
    .title {
        color: #fff;
        margin-bottom: 14px;
        margin-left: 30px;
    }
    .servers {
        margin: 0 30px;
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
        .server {
            border: 1px solid #fff;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            height: 320px;
            width: 100%;
            overflow: hidden;
            border-radius: 8px;
            position: relative;
            .header {
                background-color: #fff;
            }
        }
    }
}
