
    .guild-logo {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #313338;
        border-radius: 50%;
        cursor: pointer;
        img {
            width: 30px;
            filter: brightness(300%);
        }
        &:hover {
            background-color: #5865f2;
            border-radius: 25%;
            transition: all 0.1s ease-in;
        }
    }
 
    .user-item{
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
        &:hover {
            background-color: grey;
            border-radius: 2px;
            transition: all 0.1s ease-in;
        }
    }