.home {
    display: flex;
    position: relative;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #202225;
    width: 72px;
    height: 100%;
    gap: 12px;

    .main-logo {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #313338;
        border-radius: 50%;
        cursor: pointer;
        img {
            width: 30px;
            filter: brightness(300%);
        }
        &:hover {
            background-color: #5865f2;
            border-radius: 25%;
            transition: all 0.1s ease-in;
        }
    }
    .line {
        width: 32px;
        height: 2px;
        background-color: #fff;
    }
    .list-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        .line {
            height: 1px;
        }
        .avatar-item {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
        .folder-chat {
            display: grid;
            background-color: rgba(88, 101, 242, 0.4);
            width: 44px;
            height: 44px;
            border-radius: 15px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            place-items: center;
            padding: 4px;
            .mini-avatar {
                width: 14px;
            }
        }
        .cover {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #313338;
            cursor: pointer;
            &:hover {
                background-color: #3ba55d;
                border-radius: 25%;
                transition: all 0.1s ease-in;
                img {
                    filter: brightness(5);
                }
                svg {
                    filter: brightness(5);
                }
                path {
                    fill: #fff;
                }
            }
            path {
                fill: #3ba55d;
            }
        }
    }
}
