.content {
    display: flex;
    flex: 5;
    background-color: #36393f;
    .friends {
        flex: 3;
        display: flex;
        flex-direction: column;
        .title {
            display: flex;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 8px;
            color: #b9bbbe;
            text-transform: uppercase;
        }
        .list-friends {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .message-item {
                display: flex;
                align-items: center;
                list-style: none;
                padding: 10px 0 0;
                border-top: 1px solid #42454a;
                margin-left: 30px;
                .message-item-person {
                    display: flex;
                    flex-direction: column;
                    .name {
                        color: #fff;
                        font-weight: 700;
                    }
                    .activity {
                        color: #c7c9cb;
                    }
                }
            }
        }
    }
    .active-people {
        padding: 20px 16px;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        .title {
            color: #fff;
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 6px;
        }
        .list-active {
            width: 100%;
            .message-item {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                list-style: none;
                padding: 12px 0;
                background: #2f3136;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 7px;
                gap: 10px;
                margin-top: 10px;
                .message-item-image {
                    margin-left: 10px;
                }
                .message-item-person {
                    display: flex;
                    flex-direction: column;
                    .name {
                        color: #fff;
                        font-weight: 700;
                    }
                    .activity {
                        color: #c7c9cb;
                    }
                }
            }
        }
    }
}
