.chat-chanel-names {
    flex: 1;
    
}

.chat-chanel-name {
    padding-top: 16px;
    cursor: pointer;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}
.title {
    display: flex;
    color: #949ba4;
    align-items: center;
    .right-arrow {
        font-size: 16px;
        margin: 2px 4px 0;
    }
    &:hover {
        color: #dbdee1;
    }
}
.active-title {
    display: flex;
    color: white;
    align-items: center;
    font-weight: 600;
}

.ping {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}