.new-server-overlay {
    background-color: #070809;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 440px;
        max-height: 720px;
        min-height: 200px;
        border-radius: 4px;
        .header {
            padding: 24px 24px 0;
            position: relative;
            h1 {
                font-size: 24px;
                line-height: 30px;
                font-weight: 700;
                color: #060607;
            }
            h2 {
                margin-top: 8px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                color: #696b72;
            }
            .close-btn {
                position: absolute;
                top: 12px;
                right: 12px;
                height: 26px;
                width: 26px;
                width: 26px;
                padding: 4px;
                opacity: 0.5;
                cursor: pointer;
                border-radius: 3px;
            }
        }
        .main {
            margin: 16px 0;
            width: 100%;
            padding: 0 20px;
            .upload-icon {
                .icon-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    label {
                        width: 80px;
                        height: 80px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 100%;
                            border-radius: 50%;
                        }
                        svg {
                            width: 100%;
                            cursor: pointer;
                        }
                    }
                    #input-avatar {
                        display: none;
                    }
                }
            }
            form {
                .name-server {
                    display: flex;
                    flex-direction: column;
                    label {
                        align-self: baseline;
                        margin-bottom: 8px;
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #4e5058;
                    }
                    #input-name {
                        height: 40px;
                        padding: 10px;
                        outline: none;
                        border: none;
                        background-color: #e3e5e8;
                        border-radius: 3px;
                        font-size: 16px;
                    }
                }
                .text {
                    margin-top: 8px;
                    padding-bottom: 4px;
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 400;
                }
            }
        }
        .footer {
            padding: 16px;
            display: flex;
            background-color: #f2f3f5;
            justify-content: end;
            width: 100%;
            .create-server {
                height: 38px;
                min-height: 38px;
                width: 96px;
                min-width: 96px;
                border: none;
                outline: none;
                border-radius: 3px;
                background-color: #5865f2;
                cursor: pointer;
                color: #fff;
                &:hover {
                    background-color: #4752c4;
                }
                &:active {
                    background-color: #3c45a5;
                }
            }
        }
    }
}
