.side-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2b2d31;
    position: relative;
    .header-sidebar {
        &:hover {
            background-color: #35373c;
        }
        background-color: #2b2d31;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .header-title {
            width: 100%;
            .header-container {
                width: 100%;
                cursor: pointer;
                border-bottom: 3px solid #25272b;
                display: flex;
                justify-content: space-between;
                transition: all 0.1s ease-in;
                padding: 10px;
                color: #fff;
                position: relative;
                .menu-sidebar {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: #fff;
                    width: 24px;
                    height: 28px;
                }
            }
            .header-title.hover {
                background-color: #35373c;
            }
        }
    }
    .user-profile {
        width: 100%;
    }
}
